<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' media='all'>
    <link rel='stylesheet' href='css/normalize.css' media='all'>
    <link rel='stylesheet' href='css/responsive.css' media='all'>
    <title>Address Book</title>
</head>
<body>
    <div class='container'>
        {% if contacts is not empty %}
            <h1>List of Contacts</h1>
            <p>Here are all your contacts:</p>
            <ul>
                {% for contact in contacts %}
                    <li><strong>{{ contact.getName }}</strong></li>
                    <li>{{ contact.getPhoneNumber }} </li>
                    <li>{{ contact.getAddress }}</li>
                    <li><a href="mailto:{{ contact.getEmail }}">{{ contact.getEmail }} </a></li>
                    <br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class='container'>
        <div class='col-sm-4'>
            <h1>Add a New Contact</h1>
            <form action='/contacts' method='post' class='form-horizontal'>
                <div class='form-group'>
                    <label for='name'>Contact Name: </label>
                    <input id='name' name='name' type='text' placeholder='Enter Name' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='phonenumber'>Phone Number: </label>
                    <input id='phonenumber' name='phonenumber' type='tel' placeholder='Enter Phone Number' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='address'>Address: </label>
                    <input id='address' name='address' type='text' placeholder='Enter Address' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='email'>Email: </label>
                    <input id='email' name='email' type='email' placeholder='Enter Email' class='form-control'>
                </div>
                <button type='submit' class='btn btn-success'>Add Contact</button>
            </form><br>
            <form action='/delete_contacts' method='post'>
                <button type='submit' class='btn btn-danger'>Clear</button>
            </form>
        </div>
    </div>
</body>
</html>
